{% extends 'layouts/base.html' %}

{% block title %}{% endblock title %}

{% block main %}
<style>
 .element{
      display: flex;
     
      justify-content: center;
    }
    .card{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 80px;
    }
  </style>
    <div class="main-content">
        <div class="card">
            <div class="card-header ">
                {{ salle.name }}
            </div>
            <div class="card-body card-body-show">
                <br>
                <h5 class="card-title">salle de - {{salle.name}}</h5>
                <p class="card-text element">
                    Nom : {{ salle.name }} <br>
                    <!-- created_at : {{ salle.created_at }} <br> -->
                </p>
                <br>
                <a href="/salle/update/{{ salle.id }}" class="btn btn-warning">Modifier</a>
                <a href="/salle/delate/{{salle.id}}" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    </div>
{% endblock main %}