<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes cours</title>
    {% include "includes/link.html" %}
</head>
<body>
    <style>
        .main-main{
            position: relative;
        }
        .footer{
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 5%;
            width: 90%;
            left: 5%;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand text-secondary" href="/enseignant/home">Emploi<span class="bg-warning ">Du temps</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <input type="text" id="search" class="form-control me-5 my-5 offset-md-3"   placeholder="Search" aria-label="Search">

                    <ul class="navbar-nav ms-e py-4 py-lg-0 offset-md-2 w-100">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/enseignant/home">Home</a>
                        </li>
                       
                        <li class="nav-item ">
                            <a class="nav-link " href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                    
                    
                </div>
            </div>
        </nav>
    </div>

    <div class="container main-main">
        {% for message in messages %}
      <div class="alert {{ message.tags }} alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe}}
      </div>
      {% endfor %}
        <div class="main-content">
            
        
                <table class="table table-light table-striped mt-3 ">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">HeureDebut</th>
                            <th scope="col">HeureFin</th>
                            <th scope="col">Matière</th>
                            <th scope="col">Filière</th>
                            <th scope="col">Promo</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                
                        {% for cour in cours %}
                        <tr class="">
                            <td>{{ cour.date }}</td>
                            <td>{{ cour.heureDebut }}</td>
                            <td>{{ cour.heureFin }}</td>
                            <td>{{ cour.matiere.name }}</td>
                            <td>{{ cour.filiere.name }}</td>
                            <td>{{ cour.promo.name }}</td>
                            <td>
                                <a href="/enseignants/show/{{ cour.id }}"> voir</a>
                                <!-- /cour/show/{{ cour.id }} -->
                            </td>
                
                            {% empty %}
                            <td> Pas de cour</td>
                            {% endfor %}
                
                        </tr>
                
                    </tbody>
                </table>

        </div>
    </div>

   <div class="footer">
    {% include "includes/footer.html" %}
   </div>
    <script>
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                alert('ca amarch');
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLocaleLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <!-- {% include "includes/scripts.html" %} -->

</body>
</html>